// Theme Colours
$color-primary: #47acbe;
$color-primary-light: #a2dfea;
$color-primary-dark: #099197;

$color-secondary: #213f5a;
$color-secondary-light: #546f87;
$color-secondary-dark: #031729;

$color-tertiary: #4db085;
$color-tertiary-light: #ace6cd;
$color-tertiary-dark: #178556;


// Colour Shades
$color-white: #fff;
$color-white-pale: #eee;

$color-grey: #777;
$color-grey-light: lighten($color-grey, 10%);
$color-grey-lighter: lighten($color-grey, 15%);
$color-grey-lightest: lighten($color-grey, 20%);
$color-grey-dark: darken($color-grey, 40%);
$color-grey-darker: darken($color-grey, 50%);
$color-grey-darkest: darken($color-grey, 60%);
// $color-grey-light: #a4a3a3;
// $color-grey-dark: #434343;

$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Spacing
$space-sm: 0.25rem;
$space-md: 0.5rem;
$space-lg: 1rem;
$space-xl: 2rem;
$space-xxl: 4rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;