.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    color: $color-white;
    background: $color-grey-dark;

    @include respond(tab-port) {
        flex-direction: column;
    }
}

.footerCard {
    width: 100%;

    &__heading {
        font-size: 2rem;
        font-weight: 400;
        color: $color-primary;
    }

    &__content {
        margin-left: 2.5rem;
        font-size: 1.4rem;
        color: $color-white;
    }

    &__list {
        list-style: none;
    }

    &__listItem {

    }
}

