.header {
    position: relative;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-grey, .6);

    &__logo {
        display: inline-block;
        margin-left: 2rem;
        width: auto;
        height: 7rem;
    }

    &__navigation {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 2rem;
        text-align: right;
        line-height: 2rem;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        display: inline-block;

        padding: 1rem;
        color: $color-secondary;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        transition: all .2s;

        &:hover {
            background-color: $color-primary-light;
            box-shadow: 0 0.5rem 1rem rgba($color-grey, .4);
            transform: scale(1.1);
        }

        &:active {
            box-shadow: 0 .2rem .5rem rgba($color-grey-dark, .4);
            transform: scale(1);
        }
    }
}

.logo {
    height: 100%;
    padding: 1rem;
}