.main-layout {
  &__body {
    margin: 0 12.5%;
    margin-top: 6.2rem;
    padding: 4rem 0;
    min-height: 75vh;

    @include respond(tab-port) {
      margin: 0 2rem;
      margin-top: 5.7rem;
      padding: 3rem 0;
    }
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: 4rem;

    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }
}
